
<div fxLayout fxLayout.lt-md="column wrap" fxLayoutAlign="center center" fxLayoutGap.gt-sm="250px" fxLayoutGap.lt.md="20px">
    <div>
        <a (click)="createSplit()" mat-button color="#FF8A65" class="add-new-item">Добавить новый каталог в сплит-окна</a>
    </div>
</div>

<mat-table #table [dataSource]="dataSource" matSort matSortActive="model" matSortDirection="asc">

    <ng-container matColumnDef="model">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Модель </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.model}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="imageUrl">
        <mat-header-cell *matHeaderCellDef> Изображение </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <a class="gallery-item" [attr.data-caption]="element.description" [href]="element.imageUrl">
                <img class="work-sample" [src]="element.imageUrl" alt="One" />
            </a>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="power">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Мощность (охлаждение/обогрев), кВт </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.power}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="powerRealty">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Потребляемая мощность (охлаждение/обогрев), кВт </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.powerRealty}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="energoEfficienty">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Класс энергоэффективности </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.energoEfficienty}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="noise">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Уровень шума, дБ(А) </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.noise}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="sizeExternal">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Габариты внутреннего блока (ШхВхГ), мм </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.sizeExternal}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="sizeInternal">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Габариты наружнего блока (ШхВхГ), мм </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.sizeInternal}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Цена </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef> Удалить </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn" (click)="deleteSplit(element.id)">
                <mat-icon class="mat-18">delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="update">
        <mat-header-cell *matHeaderCellDef> Редактировать </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button mat-icon-button color="accent" (click)="editSplit(element.id)">
                <mat-icon class="mat-18">system_update</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator #paginator
               [length]="pagingAlias.length"
               [pageIndex]="pagingAlias.pageIndex"
               [pageSize]="pagingAlias.pageSize"
               [pageSizeOptions]="[5, 10, 25, 100]"
               (page)="loadSplitHouses($event)">
</mat-paginator>