<div class="row-header">
    <div class="container">
        <p class="header__p">Тендерное сопровождение в ГОСЗАКУПКАХ, ТОРГАХ по 44-ФЗ, 223-ФЗ</p>
    </div>
</div>

<section class="container">
    <div class="page2">
        <div class="container">
            <div class="w_goszakaz">
                <p class="f-45 h2-title center">Участие и помощь в <span>ГОСЗАКУПКАХ</span></p>
                <div class="block_production">
                    <div class="row left" data-aos="flip-up">
                        <div class="col-md-4">
                            <p><strong>Подготовка и подача заявки для участия</strong>Заявка для участия в тендере подготавливается с учетом всех требований закона, положения о закупке заказчика и тендерной документации. Грамотное оформление и своевременная подача заявки минимизируют риски отклонения заявки по формальным основаниям.</p>
                        </div>
                        <div class="col-md-4">
                            <p><strong>Выпуск электронной подписи (ЭЦП)</strong>Электронная подпись для участия в торгах оформляется в удостоверяющем центре, аккредитованном в Минкомсвязи России и имеющем лицензию ФСБ России. ЭП действует на всех пяти федеральных аккредитованных электронных площадках и более чем на 100 коммерческих площадках.</p>
                        </div>
                        <div class="col-md-4">
                            <p><strong>Сопровождение тендеров</strong>От подбора тендеров до подписания контракта без особых усилий! Участвуйте в тендерах постоянно, чтобы повысить шансы на победу, и получать выгодные контракты. Заключая договор на тендерное сопровождение с нами, вы «приобретаете» полноценный тендерный отдел на расстоянии, в вашем распоряжении профессиональные услуги наших специалистов.</p>
                        </div>
                    </div>
                    <div class="row left" data-aos="flip-up">
                        <div class="col-md-4">
                            <p><strong>Аккредитация на электронных площадках (ЭТП)</strong>Аккредитация на ЭТП дает возможность поставщикам участвовать в электронных аукционах: осуществлять подачу запросов на разъяснение документации аукциона, подавать заявки на участие в электронных аукционах, принимать участие в торгах и многое другое. На каждой площадке необходимо проходить отдельную аккредитацию (регистрацию).</p>
                        </div>
                        <div class="col-md-4">
                            <p><strong>Анализ и подбор тендеров</strong>Мы вручную подбираем тендеры, соответствующие специализации клиента, анализируем тендеры на коррупционные составляющие, оцениваем шансы на победу и целесообразность участия в тендере с учетом проведенного анализа.</p>
                        </div>
                        <div class="col-md-4">
                            <p><strong>Составление запросов на разъяснение</strong>Мы составляем запросы на разъяснение аукционной документации в сроки, установленные законом со ссылками на нормативные акты и пункты аукционной документации. Получение максимально полного ответа на поставленные вопросы позволяет избежать отклонения заявки госзаказчиком.</p>
                        </div>
                    </div>
                    <div class="row left" data-aos="flip-up">
                        <div class="col-md-4">
                            <p><strong>Составление жалобы в ФАС</strong>Жалоба в ФАС составляется опытными юристами в соответствии с требованиями закона о контрактной системе, со ссылками на отраслевые нормативные акты. Грамотные доводы жалобы позволяют отстоять свою позицию, восстановить права и законные интересы участника закупки.</p>
                        </div>
                        <div class="col-md-4">
                            <p><strong>Участие в торгах</strong>Мы сопровождаем клиента в торгах, что позволяет оперативно реагировать на быстро меняющиеся обстоятельства во время торгов и своевременно принимать выгодные для клиента решения. Мы также участвуем в торгах от имени клиента на основании доверенности.</p>
                        </div>
                        <div class="col-md-4">
                            <p><strong>Защита прав</strong>Профессиональная защита интересов участника закупки в ФАС и в арбитражных судах опытными юристами. Хорошее знание законодательства о контрактной системе и практики ее применения позволяют нашим специалистам успешно отстаивать интересы клиента в самых сложных ситуациях.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>