<div class="container page22">
    <div class="row">
        <div class="col-md-10 col-xs-10 col-md-offset-2 col-md-offset-14">
            <div class="block-text">
                <p class="block-text_description">Среди каталога продукции вы можете просмотреть следующие комплектующие или услуги</p>
                <div class="flexbox-text flexbox-text_add">
                    <p><a (click)="goTo(40)" class="user-link link-white"><span>Посмотреть весь каталог></span></a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-text">
        <div class="col-md-10 col-xs-10 col-md-offset-2 col-md-offset-14">
            <div class="flexbox-trip">
                <div class="w-450">
                    <div class="bg-pic">
                        <div class="thumbnail-trip">
                            <img alt="" class="thumbnail-trip__img" src="../../../images/rooftops_07_2.jpg">
                            <p class="info-fly">Сплит-системы</p>
                            <div class="bottom-block">
                                <p><span>Бытовые</span>Настенные сплит-системы для помещений до 70 кв.м</p>
                                <hr>
                                <a (click)="goTo(90)" class="user-link link-white"><span>перейти в каталог ></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-230">
                    <div class="bg-pic">
                        <div class="thumbnail-trip">
                            <img alt="" class="thumbnail-trip__img" src="../../../images/Lg.jpg">
                            <p class="info-fly">Сплит-системы</p>
                            <div class="bottom-block">
                                <p><span>Полупромышленные</span></p>
                                <hr>
                                <a (click)="goTo(60)" class="user-link link-white"><span>перейти в каталог ></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-230">
                    <div class="bg-pic">
                        <div class="thumbnail-trip">
                            <img alt="" class="thumbnail-trip__img" src="../../../images/58995bce57407[1].jpeg">
                            <p class="info-fly">Госзакупки</p>
                            <div class="bottom-block">
                                <p><span>Участие и помощь в госзакупках</span>Описание услуг</p>
                                <hr>
                                <a (click)="goTo(30)" class="user-link link-white"><span>перейти в каталог ></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flexbox-trip">
                <div class="w-450">
                    <div class="bg-pic">
                        <div class="thumbnail-trip">
                            <img alt="" class="thumbnail-trip__img" src="../../../images/ventilation.jpg">
                            <p class="info-fly">Окна и двери из ПВХ-профиля</p>
                            <div class="bottom-block">
                                <p><span>Оконные и дверные конструкции из ПВХ и алюминиевых профилей</span></p>
                                <hr>
                                <a (click)="goTo(70)" class="user-link link-white"><span>перейти в каталог ></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-230">
                    <div class="bg-pic">
                        <div class="thumbnail-trip">
                            <img alt="" class="thumbnail-trip__img" src="../../../images/slide3.jpg">
                            <p class="info-fly">Услуги и работа</p>
                            <div class="bottom-block">
                                <p><span>Прайс-лист на услуги и работы</span>Описание предоставляемых услуг</p>
                                <hr>
                                <a (click)="goTo(50)" class="user-link link-white"><span>перейти в каталог ></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-230">
                    <div class="bg-pic">
                        <div class="thumbnail-trip">
                            <img alt="" class="thumbnail-trip__img" src="../../../images/slide1.jpg">
                            <p class="info-fly">Примеры работ</p>
                            <div class="bottom-block">
                                <p><span>Портфолио</span>Примеры выполнения наших работ</p>
                                <hr>
                                <a (click)="goTo(80)" class="user-link link-white"><span>перейти в каталог></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>