
    <section class='owl-carousel' id='owlCarousel'>
        <div class='slide'>
            <img class='owl-item-bg' src='../../images/static287.jpg'>
            <div class='slide-content'>
                <div class='overlay'></div>
                <h3>Компания "КИТ-Сервис"</h3>
                <h2>Создаем комфортный климат</h2>
                <p>Мы осуществляем продажу, монтаж, ремонт и обслуживание систем кондиционирования и вентиляции воздуха любых помещений</p>
            </div>
        </div>
        <div class='slide'>
            <img class='owl-item-bg' src='../../images/chk_captcha.jpg'>
            <div class='slide-content'>
                <div class='overlay'></div>
                <h3>О продукции</h3>
                <h2>Наши поставщики</h2>
                <p>Мы поставляем качественную продукцию с многолетней гарантией ведущих мировых и российских компаний</p>
            </div>
        </div>
        <div class='slide'>
            <img class='owl-item-bg' src='../../images/service14_b.jpg'>
            <div class='slide-content'>
                <div class='overlay'></div>
                <h3>О сервисе</h3>
                <h2>Гибкость нашего сервиса</h2>
                <p>Опытные специалисты нашей компании производят монтаж и пуско-наладочные работы аккуратно и в срок с гарантией качества выполненных работ</p>
            </div>
        </div>
        <div class='slide'>
            <img class='owl-item-bg' src='../../images/slide6.jpg'>
            <div class='slide-content'>
                <div class='overlay'></div>
                <h3>Работы</h3>
                <h2>Примеры наших работ</h2>
                <p>Среди каталога продукции представлены также примеры наших работ. Мы делаем все быстро и качественно</p>
            </div>
        </div>
        <div class='slide'>
            <img class='owl-item-bg' src='../../images/tendery-tendernoe-soprovozhdenie-1024x681.jpg'>
            <div class='slide-content'>
                <div class='overlay'></div>
                <h3>44-ФЗ, 223-ФЗ</h3>
                <h2>Участие в государственных закупках</h2>
                <p>Наша компания принимает участие в Госзакупках по 44-ФЗ, 223-ФЗ</p>
            </div>
        </div>
        <div class='slide'>
            <img class='owl-item-bg' src='../../images/k11.jpg'>
            <div class='slide-content'>
                <div class='overlay'></div>
                <h3>Сплит-системы</h3>
                <h2>Бытовые сплит-систем</h2>
                <p>В каталоге Вы можете подобрать любую понравившуюся Вам сплит-систему, мы бесплатно произведем замер и доставку оборудования, а наши специалисты качественно и в срок его установят</p>
            </div>
        </div>
        <div class='slide'>
            <img class='owl-item-bg' src='../../images/rooftops_07_2.jpg'>
            <div class='slide-content'>
                <div class='overlay'></div>
                <h3>Сплит-системы</h3>
                <h2>Промышленые сплит-систем</h2>
                <p>Также мы производим монтаж полупромышленных и промышленных систем кондиционирования воздуха, систем приточной и вытяжной вентиляции</p>
            </div>
        </div>
        <div class='slide'>
            <img class='owl-item-bg' src='../../images/slide4.jpg'>
            <div class='slide-content'>
                <div class='overlay'></div>
                <h3>Оконные конструкции</h3>
                <h2>Алюминевые и ПВХ-профили</h2>
                <p>Наша компания является официальным дилером завода по производству оконных и дверных конструкций из ПВХ и алюминиевых профилей</p>
            </div>
        </div>
    </section>

    <section>
        <app-product-select></app-product-select>
    </section>

