<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="nlog-internal.log">

  <targets>
    <target name="errorLogFile"
            xsi:type="File"
            fileName="${basedir}/logs/errorFile.txt"
            archiveFileName="${basedir}/logs/archives/errorFile.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            concurrentWrites="true"
            encoding="utf-8"
            maxArchiveFiles="21" />
    <target name="infoLogFile"
            xsi:type="File"
            fileName="${basedir}/logs/logFile.txt"
            archiveFileName="${basedir}/logs/archives/logFile.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            concurrentWrites="true"
            encoding="utf-8"
            maxArchiveFiles="21" />
  </targets>

  <rules>
    <logger name="*" levels="Fatal,Error" writeTo="errorLogFile" />
    <logger name="*" levels="Warn,Info,Debug,Trace" writeTo="infoLogFile" />
  </rules>
</nlog>
