<footer class="appFooter">
    <div class="footer-info center">
        <div class="container">
            <div class="flex-footer">
                <div>
                    <p>Присоединяйтесь:</p>
                    <div class="wrapper">
                        <a href="https://vk.com/public168095401" target="_blank"><i class="fa fa-2x fa-vk"></i></a>
                        <a href="https://www.ok.ru/group/58945988263994" target="_blank"><i class="fa fa-2x fa-odnoklassniki-square"></i></a>
                        <a href="https://www.instagram.com/kit_service56/?hl=ru" target="_blank"><i class="fa fa-2x fa-instagram"></i></a>
                    </div>
                </div>
                <div>
                    <p>Способы оплаты при заказе:</p>
                    <img src="../../../images/payment.png" alt="Методы оплаты">
                </div>
            </div>
        </div>
    </div>

    <div class="footer-contacts center">
        <div class="container">
            <div class="flex-footer">
                <div>{{getFullYear()}} Климатические инновационные технологии. Все права защищены</div>
                <div>г.Оренбург, ул.Ташкентская, д.28<span class="footer_phone">8-(3532)208-400</span></div>
            </div>
        </div>
    </div>
</footer>