<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>КИТ-Сервис. Климатические инновационные технологии</title>

    <meta http-equiv="cache-control" content="max-age=86400">
    <meta name="keywords" content="kit-service56, оренбург, ПВХ, пластиковые окна, кондиционеры, сплит, бытовые, промышленные, установка">
    <meta name="audience" content="all">

    <meta name="distribution" content="global">
    <meta name="rating" content="general">
    <meta name="robots" content="index, follow">

    <meta property="og:title" content="КИТ-Сервис. Климатические инновационные технологии." />
    <meta property="og:description" content="Большой выбор бытовых/промышленных сплит-систем. Пластиковых окон. Сервисное обслуживание и установка" />

    <meta property="og:url" content="http://kit-service56.ru" />
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://kit-service56.ru/images/logo_2.png" />

    <meta name="title" content="КИТ-Сервис. Климатические инновационные технологии." />
    <meta name="description" content="Большой выбор бытовых/промышленных сплит-систем. Пластиковых окон. Сервисное обслуживание и установка" />


    <base href="/" />

    <link rel="icon" type="image/png" sizes="152x152" href="./favicon-152x152.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
    <link rel="stylesheet" type="text/css" href="~/vendor.css">

    <script type="text/javascript" src="./polyfills.js" asp-append-version="true"></script>
    <script type="text/javascript" src="./vendor.js" asp-append-version="true"></script>
    <script type="text/javascript" src="./settings.js" asp-append-version="true"></script>
</head>
<body>
    @RenderBody()

    @RenderSection("Scripts", false)
</body>
</html>